*{
	margin: 0;
	outline: 0;			
	padding: 0;
	color: #666;
}
p{
	margin: 10px 0;
	color: #666;
}
.page{
	padding: 30px;
}
.code{
	font-family: monospace !important;
}

.form{margin-top: 40px;}
.form-field{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.form-field label{
	margin-right: 15px;
	min-width: 100px;
	color: #666;
}
.form-field input{
	padding: 10px;
	border: 1px solid #e6e6e6;
	min-width: 400px;
	border-radius: 5px;
	color: #666;
}
.form-field input:focus{
	border-color: cornflowerblue;
}
.form-error{
	font-size: 14px;
	color: tomato;
	margin-bottom: 10px;
}
.input{
	min-width: 450px;
	border: none;
	color: #666;
}


.btn{
	display: inline-block;
	position: relative;
	outline: 0;	
	box-shadow: none;	
	padding: 10px 20px;
	background-color: cornflowerblue;
	color: #fff;
	text-align: center;	
	text-decoration: none;
	border-radius: 5px;
	cursor: pointer;
	border: 3px solid transparent;
}
.btn--sm{
	padding: 7px 10px;
}
.btn--xs{
	padding: 5px 7px;
	font-size: 12px;
}
.btn:focus{
	border-color:#8dafea;
}
.btn:hover{
	background-color: #1a6bcc;
}
.btn:active{
	transform: translateY(1px);
}



.tooltip{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 10px;
	background-color: rgba(0,0,0, 0.8);
	color: #fff;
	border-radius: 5px;
	padding: 7px;
	white-space: nowrap;
	transition: all 0.3s;
	opacity: 0;
}
.tooltip.show{opacity: 1;}
.tooltip::after{
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 100%;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 4px solid rgba(0,0,0, 0.8);
}
